<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Add Recipe</h1>
        <form action="/create/recipe" method="post">
            <input type="hidden" name="user_id" value="{{session.user_id}}">
            <div>
                <label for="name">Name:</label>
                    <input type="text" name="name" id="">
            </div>
            <div>
                <label for="description"> description            </label>
                <textarea type="text" name="description" id=""></textarea>
            </div>
            <div>
                <label for="description"> instructions            </label>
                <textarea type="text" name="instructions" id=""></textarea>
            </div>
            date made:
            <input type="date" name="date_made" id="">
            <div>
                under 30 minutes:
                <input type="radio" id="yes" name="under_30" value="1">
                <label for="yes">yes</label>
                <input type="radio" id="no" name="under_30" value="0">
                <label for="no">no</label><br>
            </div>
                <input type="submit" value="create">
        </form>
    </div>
    
</body>
</html>